.language {
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.44px;
  display: flex;
  gap: 7px;
  height: fit-content;
  color: #BADCD3;

  button {
    color: #BADCD3;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.44px;

    &.active {
      border-bottom: 1px solid #BADCD3;
    }
  }

  &.changeColor,
  &.lnb {
    color: #043D2F;
    button {
      color: #043D2F;

      &.active {
        border-bottom: 1px solid #043D2F;
      }
    }
  }
}