.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 50;

  .inner {
    padding: 39px 72px 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo {
    width: 54px;
    height: 57px;
    display: block;
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .menu_list {
    display: flex;
    align-items: center;
    gap: 58px;
    position: relative;
    top: 5px;

    a {
      font-size: 18px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.36px;
      color: #BADCD3;
      position: relative;
      

      &.border {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: #BADCD3;
          position: absolute;
          bottom: -8px;
        }
      }

      &.changeColor {
        color: #063D2F;

        &::after {
          background-color: #043D2F;
        }
      }
    }

  }

  .lnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EBEAE5;
    z-index: 55;
    height: 0;
    overflow: hidden;
    transition: all .9s cubic-bezier(0.57, 0.01, 0.1, 0.99);

    &.show {
      height: 385px;
    }

    .menu_list {
      align-items: flex-start;
      gap: 0;

      > li {
        // width: fit-content;
        &:first-child {
          margin-right: 58px;
          width: 110px;
        }

        &:nth-child(2) {
          margin-right: 27px;
          width: 110px;
        }
      }

      a {
        color: #043D2F;
        margin-bottom: 28px;
        display: block;
        position: relative;
        width: fit-content;
        white-space: nowrap;

        &.border {
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #043D2F;
            position: absolute;
            bottom: -9.5px;
          }
        }
      }
    }
  }

  .lnb_inner {
    padding: 39px 56px 28px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .shape_icon {
    width: 38px;
    height: 38px;
    margin-right: 77px;
    object-fit: cover;
  }

  .lnb_foot {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: #043D2F;
    position: absolute;
    bottom: 28px;
    left: 95px;
  }

  .depth_menu {
    display: grid;
    gap: 10px;

    li {
      line-height: 20px;
      font-size: 18px;
      font-weight: 400;
      color: #043D2F;

      a {
        margin-bottom: 0 !important;
        letter-spacing: initial;
      }
    }
  }
  .right_menu {
    height: 100%;
    display: grid;
  }

  .lnb_right {
    display: flex;
    align-items: flex-start;
    height: 100%;

    ul {
      position: relative;
      height: 100%;
    }
  }

  .language {
    margin-top: 78px;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.44px;
    display: flex;
    gap: 7px;
    height: fit-content;

    button {
      color: #A8A8A8;
      font-size: 22px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.44px;

      &.active {
        color: #063D2F;
        border-bottom: 1px solid #063D2F;
      }
    }
  }
}